<header class="bg-gray-700 p-10 flex justify-between items-center">
  <!-- Logo -->
  <a href="/" class="text-white text-2xl font-semibold">Projects CSM</a>

  <!-- Navigation -->
  <nav>
    <ul class="flex space-x-4">
      <li>
        <a href="/projects" class="text-white hover:text-gray-200">Projects</a>
      </li>
      <li>
        <a href="/technologies" class="text-white hover:text-gray-200"
          >Technologies</a
        >
      </li>
      <li>
        <a href="/logout" class="text-white hover:text-gray-200">Logout</a>
      </li>
    </ul>
  </nav>
</header>
<main class="container mx-auto py-10 max-w-lg">
  <h2 class="text-2xl font-bold text-gray-800 mb-6 text-center">
    Create Technologies
  </h2>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <!-- Name Field -->
    <div class="mb-4">
      <label for="name" class="block text-gray-700 font-medium mb-2"
        >Name</label
      >
      <input
        id="name"
        type="text"
        formControlName="name"
        class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
        placeholder="Enter module name"
      />
      <div class="text-red-500 text-sm">Name is required.</div>
    </div>

    <!-- Description Field -->
    <div class="mb-4">
      <label for="description" class="block text-gray-700 font-medium mb-2"
        >Description</label
      >
      <textarea
        id="description"
        formControlName="description"
        class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
        rows="4"
        placeholder="Enter module description"
      ></textarea>
      <div class="text-red-500 text-sm">Description is required.</div>
    </div>

    <!-- Logo URL Field -->
    <div class="mb-6">
      <label for="imae" class="block text-gray-700 font-medium mb-2"
        >image</label
      >
      <input type="file" (change)="onFileChange($event)" required />
    </div>

    <!-- Submit Button -->
    <button
      type="submit"
      class="w-full bg-blue-500 text-white font-medium py-2 rounded-lg hover:bg-blue-600 transition duration-200"
      [disabled]="form.invalid"
    >
      Submit
    </button>
  </form>
</main>
